<div class="body">
	<div class="container">
		<p class="flash"></p>
		<div class="row">
			<div class="col-xs-offset-3 col-xs-6">
				<h1>welcome to <span class="glyphicon glyphicon-book"><strong>Bookers !!</strong></span></h1>
				<p>In <span class="glyphicon glyphicon-book"><strong>Bookers,</strong></span></p>
				<p>you can share and exchange your opinions , inpressions , and emotions</p>
				<p>about various books!</p>
				<div class="btn-wrepper">
					<div class="row">
						<%= link_to "Log in", new_user_session_path, class: "btn btn-info col-xs-10 col-xs-offset-1" %>
					</div>
					<div class="row">
						<%= link_to "Sign up", new_user_registration_path, class: "btn btn-success col-xs-10 col-xs-offset-1" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>